*#
*.swp
*~
.DS_Store

# BOSH
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs/
config/private.yml
dev_releases/
releases/**/*.tgz
releases/*.tgz
src/bosh-dns/acceptance_tests/linux/override_nameserver/disabled/dns-creds.yml
tags
envs

# Golang
/bin/
/pkg/
src/golang.org
src/github.com
