*#
*.swp
*~
.DS_Store

# BOSH
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
blobs/
config/private.yml
dev_releases/
releases/**/*.tgz
releases/*.tgz


# Golang
/bin/
/pkg/
src/golang.org
src/github.com
