---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/cf-deployment-concourse-tasks
    tag: v2.5.0

inputs:
  - name: bosh-dns-release
  - name: bosh-deployment
  - name: bosh-candidate-release
  - name: envs

outputs:
  - name: envs
    path: envs-output

params:
  BBL_GCP_SERVICE_ACCOUNT_KEY:
  ENV_NAME: 
  BBL_GCP_PROJECT_ID: cf-bosh-core
  BBL_GCP_ZONE: us-central1-a
  BBL_GCP_REGION: us-central1
  BBL_IAAS: gcp

run:
  path: bosh-dns-release/ci/tasks/windows/bbl-up.sh
