---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: bosh/bosh-dns-release
    tag: acceptance-tests

inputs:
  - name: bosh-dns-release

outputs:
  - name: release

run:
  path: bosh-dns-release/ci/tasks/create-candidate.sh
